<!--
	--
 		All Stylesheet
 	--
-->
<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="public/assets/frontend/css/bootstrap.min.css">
<link rel="stylesheet" href="public/assets/frontend/css/font-awesome.min.css">
<!-- Custom styles for our template -->
<link rel="stylesheet" href="public/assets/frontend/css/bootstrap-theme.css" media="screen">
<link rel="stylesheet" href="public/assets/frontend/css/main.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="assets/frontend/js/html5shiv.js"></script>
	<script src="assets/frontend/js/respond.min.js"></script>
	<![endif]-->
<!--
	--
 		Header Section
 	--
-->
<div ui-view="header"></div>
<!--
	--
 		Content Section
 	--
-->
<div ui-view="content"></div>
<!--
	--
 		Footer Section
 	--
-->
<div ui-view="footer"></div>
<!--
	--
 		All Javascript
 	--
-->
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="public/assets/frontend/js/bootstrap.min.js"></script>
<script src="public/assets/frontend/js/headroom.min.js"></script>
<script src="public/assets/frontend/js/jQuery.headroom.min.js"></script>
<script src="public/assets/frontend/js/template.js"></script>
<script type="text/javascript">
$(function() {
    $('body').removeClass('theme-red');
    $('body').addClass('home');
});
</script>
